/*CSS general---------------------------------------------*/

html {
    margin: 0;
    padding: 0;
}

 body{
    margin-top: 2cm;
   margin: 0;
   padding: 0;
   background-image: url('img/fondo3.jpg'); 
   }



td{
 border: 2px solid #20B2AA;
  width: 35px;
  height: 30px;
  font-family: 'Indie Flower', cursive;
 }

 table{
 	border-collapse: collapse;
    background: white;
 }

 h1, h2{
    color: #778899;
    font-family: 'Patrick Hand SC', cursive;
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.stroke {
-webkit-text-fill-color: black;

}

/*Encabezados y textos -------------------------------------*/

.tit{
 	font-size: 40px;
 	text-align: center;
 	margin: 20px;
 	font-family: 'Patrick Hand SC', cursive;
    text-shadow: 4px 4px 4px #aaa; /*sombreado*/
 }

.tit1{
	font-size: 30px;
	text-align: center;
	margin: 20px;
	font-family: 'Patrick Hand SC', cursive;
}

 #tit2{
 	font-family: 'Patrick Hand SC', cursive;
 	text-align: center;
 	font-size: 20px;
 	margin: 10px;
 }
 #tit3{
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    font-size: 20px;
    /*margin: 0 auto;*/
     clear: both;
    margin-top: 15px;
    margin-bottom: 15px; 
 }
/*Logo inicial -------------------------------------------*/

#logotipo{
    border: 1px solid black;
    width: 49px;
    height: 44px;
}

#logo{
    width: 49px;
    height:44px;
    margin: 0 auto;
    
}

/* Tablero -------------------------------------------------------*/


.contenedorPrincipal{
    width: 100%;   
}


div#contenedor-humano{
    width: 50%;
    border-radius: 2px;
    height: auto;
    margin: 0;
    float: left; 
}

div#contenedor-computadora{
    width: 50%;
	text-align: right;
    margin: 0;
    float: right;
}

.tableros{
    text-align: center;
    display: inline-block;
}

#contenedor-juego {
    margin: 0 auto;
    max-width: 462px;
}

#contenedor-tablero {
    
    border-radius: 2px;
    height: auto;
  
}

.centertable{
    text-align:center; 
    margin : 0 auto;

}


/*Barcos --------------------------------------------------------*/

#barco1{
    display: inline-block;
    width: 49%;
    padding: 0;
    margin: 0;
}
#barco4{
     display: inline-block;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: right;
}
#barco2{
	    display: inline-block;
    width: 49%;
    padding: 0;
    margin: 0;
}
#barco5{
	   display: inline-block;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: right;
}
#barco3{
	 display: inline-block;
    width: 49%;
    padding: 0;
    margin: 0;
}
#barco6{
	 display: inline-block;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: right;
}


.celda-fichas{
     border-style: solid;
    border-width: 1px 1px 1px 1px;
    display: inline-block;
    height: 30px;
    width: 35px;
  
}

.celda-fichas-abre{
    width: 35px; 
     height: 30px; 
      border-style: solid; 
     display: inline-block;
     border-radius: 100px 0px 0px 100px;
     border-width: 1px 1px 1px 1px;

}

.celda-fichas-cierra{
    width: 35px; 
     height: 30px; 
      border-style: solid;  
     display: inline-block;
     border-radius: 0 100px 100px 0;
     border-width: 1px 1px 1px 1px;
}

#color1{
    background: yellow;
}


.coloramarillo{
    background-color: yellow;
}

/* -----------------HOJA DE INICIO-------------------------------------------- */


.center{
    text-align: center;
}
 .imagen{
    margin-top: 20px;
    width:100px;
    height:100px;
 }


.contenedor1{
    width: 95%;
    max-width: 500px;
    margin: auto;   
}


#margen1{
    margin: 20px;
}
.centertable{
    text-align:center; 
    margin : 0 auto;
}


/* -----------------HOJA ganador-------------------------------------------- */


#t1{
    margin-top: 1cm;
    font-size: 40px;
   }

.boton1{
    border-radius: 10px;
    width: 200px;
    height: 70px;
    background-color: #FF7F50;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    font-family: 'Patrick Hand SC', cursive;

}

.button1 {
   border-top: 1px solid #000000;
   background: #ff600a;
   background: -webkit-gradient(linear, left top, left bottom, from(#824911), to(#ff600a));
   background: -webkit-linear-gradient(top, #824911, #ff600a);
   background: -moz-linear-gradient(top, #824911, #ff600a);
   background: -ms-linear-gradient(top, #824911, #ff600a);
   background: -o-linear-gradient(top, #824911, #ff600a);
   padding: 12.5px 25px;
   -webkit-border-radius: 17px;
   -moz-border-radius: 17px;
   border-radius: 17px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button1:hover {
   border-top-color: #a88d07;
   background: #a88d07;
   color: #ffffff;
   }
.button1:active {
   border-top-color: #8ea608;
   background: #8ea608;
   }


.boton4{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: #FF7F50;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
}




.boton3{
    border-radius: 10px;
    width: 200px;
    height: 70px;
    background-color: #FF7F50;
    color: white;
    font-weight:bold;
}

.textoshg{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
   } 

#t2{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;

}

#t3{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 40px;

}
.ubicacion{
    display: inline-block;
}

.margen{
  margin-bottom: 15px;
}

.circulo{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #20B2AA;
    margin: 0 auto;
}

.agua{
    background-color: #87CEFA;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    border: none;
}


.coloramarillo{
    background-color: yellow;
}

.colorgris{
	background-color:  grey;
  opacity: 0.5;
}
.ubicacion{
    display: inline-block;
}


.pintarcelda {
	width: 10px;
    height: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #20B2AA;
    margin: 0 auto;
    background-color: blue;
}

.barcoTocado{
background-color: #f48822;
margin:10px;  
width:1px;
height:1px;
border-bottom:14px solid red;
border-left:5px solid transparent;
border-right:5px solid transparent;

}
/*.barcoHundido{
  background-color: #ff1d00;
} */

.puesto{
    display: inline-block;
    
    width: 23px;
    background-color: #FFA07A;
}

.nombre {
    display: inline-block;
  
    width: 260px;
}

ul#ranking { 
   
    list-style: none;
}


#ranking li {
    margin-bottom: 5px;
}



.mostrarHumano{
    display: block;
}

.mostrarPc{
    display: block;
}

.ocultarPc{
    display: none;
}


.ocultarHumano{
    display: none;
}

#botonabandonar{
  margin-top: 10px;
}